# don't put duplicate lines or lines starting with space in the history.
export HISTCONTROL=erasedups:ignoredups:ignorespace

# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
export HISTSIZE=1000
export HISTFILESIZE=2000

# Docker remote
export DOCKER_HOST=tcp://localhost:2375
