[user]
    name = Vinicius Brasil
    email = vnbrs@icloud.com
[core]
    editor = vim
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    hooksPath = ~/.githooks
[color]
    ui = auto
